<div class="page">
  <div class="locations">
    <header>
      <div class="appTitle">
        <h1>Weather Watcher</h1>
        <button class="demoMode" ng-hide="locationsCtrl.demoMode" ng-click="locationsCtrl.toggleDemo()">Go to Demo Mode</button>
        <button class="demoMode" ng-show="locationsCtrl.demoMode" ng-click="locationsCtrl.toggleDemo()">Leave Demo Mode</button>

      </div>
      <span class="demo" id="hidden-small" ng-if="locationsCtrl.demoMode">Demo Mode</span>
      <ul class="userInfo">
        <li>{{ locationsCtrl.user.password.email }} </li>
        <li>
          <button class="logout" ng-click="locationsCtrl.logout()">Log Out</button>
        </li>

      </ul>
      <!-- <span class="demo" ng-if="locationsCtrl.demoMode">Demo Mode</span> -->
    </header>
    <div class="content">
      <div class="control">
        <button class="addNew" ng-hide="locationsCtrl.adding" ng-click="locationsCtrl.toggleAdding()">Add New Location</button>
        <button ng-hide="locationsCtrl.adding" ng-if="locationsCtrl.markers[0].coords" ng-class="{'viewAll': !locationsCtrl.showList, 'closeList': locationsCtrl.showList}" ng-click="locationsCtrl.toggleList()">View List
        </button>


        <!-- form for adding location without animation, only visible on small screens -->
        <div class="visible-small addLocationForm" ng-if="locationsCtrl.adding">
          <i class="fa fa-times" aria-hidden="true" ng-click="locationsCtrl.toggleAdding()"></i>
          <form ng-submit="locationsCtrl.addLocation()">
            <div class="form-group">
              <input class="form-control" type="text" placeholder='Name this location' ng-model="locationsCtrl.newLocation.title">
              <input class="form-control" type="text" placeholder="street address" ng-model="locationsCtrl.newLocation.address">
              <input class="form-control" type="text" placeholder="city" ng-model="locationsCtrl.newLocation.city">

              <ui-select ng-model="locationsCtrl.newLocation.state">
                <ui-select-match>
                  <span ng-bind="locationsCtrl.newLocation.state"></span>
                </ui-select-match>
                <ui-select-choices repeat="state in (locationsCtrl.states | filter: $select.search) track by state">
                  <span ng-bind="state"></span>
                </ui-select-choices>
              </ui-select>

              <input type="submit" value="Add Location">
            </div>
          </form>
        </div>

        <!-- form for adding location with animation, only visible at larger screen sizes -->
        <div ng-class="{
        'hidden-small animated slideInLeft addLocationForm': locationsCtrl.adding,
        'animated slideOutLeft addLocationForm': locationsCtrl.isFading,
        'hidden-small': !locationsCtrl.adding}" ng-if="locationsCtrl.adding">

          <i class="fa fa-times" aria-hidden="true" ng-click="locationsCtrl.toggleAdding()"></i>
          <form ng-submit="locationsCtrl.addLocation()">
            <div class="form-group">
              <input class="form-control" type="text" placeholder='Name this location' ng-model="locationsCtrl.newLocation.title">
              <input class="form-control" type="text" placeholder="street address" ng-model="locationsCtrl.newLocation.address">
              <input class="form-control" type="text" placeholder="city" ng-model="locationsCtrl.newLocation.city">

              <ui-select ng-model="locationsCtrl.newLocation.state">
                <ui-select-match>
                  <span ng-bind="locationsCtrl.newLocation.state"></span>
                </ui-select-match>
                <ui-select-choices repeat="state in (locationsCtrl.states | filter: $select.search) track by state">
                  <span ng-bind="state"></span>
                </ui-select-choices>
              </ui-select>

              <input type="submit" value="Add Location">
            </div>
          </form>
        </div>



        <div id="locationsListContainer" ng-class="{
      'hidden-small': !locationsCtrl.showList,
      'animated slideInLeft': locationsCtrl.showList,
      'hidden-small animated slideOutLeft': locationsCtrl.isFading}" ng-if="locationsCtrl.locations.length > 0">

          <ul class="locationsList" ng-repeat="place in locationsCtrl.locations">

            <div ng-hide="place.editing" class="locationInfo">
              <li class="title">{{ place.title }}</li>
              <li class="address">{{ place.address }}</li>
              <li class="city">{{ place.city }},</li>
              <li class="state">{{ place.state }}</li>

            </div>

            <div ng-hide="place.editing" class="listButtons">
              <li>
                <button class="listButton" ng-click="locationsCtrl.changeLocation(place)">Edit</button>
              </li>
              <li>
                <button class="listButton" ng-click="locationsCtrl.toggleDelete(place)" ng-hide="place.deleting">Delete</button>
              </li>
              <li>
                <button class="confirmDelete" ng-click="locationsCtrl.deleteLocation(place)" ng-show="place.deleting">Confirm Delete</button>
                <button class="noDelete" ng-click="locationsCtrl.toggleDelete(place)" ng-show="place.deleting">Go Back to List</button>
              </li>
            </div>
            <div ng-show="place.editing" class="editForm form-group">
              <i class="fa fa-times closeEdit" aria-hidden="true" ng-click="locationsCtrl.changeLocation(place)"></i>
              <form ng-submit="locationsCtrl.saveLocation(place)">
                <input class="form-control" type="text" placeholder='Name this location' ng-model="place.title">
                <input class="form-control" type="text" placeholder="street address" ng-model="place.address">
                <input class="form-control" type="text" placeholder="city" ng-model="place.city">
                <input class="form-control" type="text" placeholder="state" ng-model="place.state">
                <input type="submit" value="Edit Location">
              </form>
            </div>
          </ul>

        </div>
      </div>
    </div>



    <i class="fa fa-spinner fa-pulse fa-3x fa-fw" ng-if="!locationsCtrl.hasCurrentPosition"></i>

    <!--TODO: make infoWindow close on click-->
    <div class="locationsMap" ng-if="locationsCtrl.hasCurrentPosition" ng-hide="locationsCtrl.showList">
      <span class="demo hidden-large" ng-if="locationsCtrl.demoMode">Demo Mode</span>


      <ui-gmap-google-map center='locationsCtrl.map.center' zoom='locationsCtrl.map.zoom'>

        <ui-gmap-markers models="locationsCtrl.markers" coords="'coords'" fit="true" click="onClick" options="'options'">
          <ui-gmap-windows show="show">
            <div class="infoWindow" ng-non-bindable>

              <ul class="windowLocation">
                <li class="windowName">
                  {{ name }} </li>
                <li class="address">{{ address }}</li>
                <li class="cityState">{{ cityState }}</li>
                <li class="city">{{ city }}</li>
                <li class="state">{{ state }}</li>
              </ul>
              <ul class="locationWeather">
                <li><img class="weatherIcon" src="{{ image }}" alt="{{ condition }}"></li>
                <li>{{ temp | number:0 }}°</li>
                <li class="condition">{{ condition }}</li>
                <li class="time">{{ time | date: 'short' }}</li>
              </ul>
            </div>
          </ui-gmap-windows>
        </ui-gmap-markers>


      </ui-gmap-google-map>
    </div>
  </div>

</div>
