<div class="page">
  <div class="locations">
    <h1 class="locationsUser">Locations for {{ locationsCtrl.user.password.email }}</h1>

<button ng-click="locationsCtrl.toggleDemo()">Toggle Demo Mode</button>
<span class="demo" ng-if="locationsCtrl.demoMode">(Demo Mode)</span>

<form class="locations--form" ng-submit="locationsCtrl.addLocation()">
  <input type="text" placeholder='Name this location' ng-model="locationsCtrl.newLocation.title">
  <input type="text" placeholder="street address" ng-model="locationsCtrl.newLocation.address">
  <input type="text" placeholder="city" ng-model="locationsCtrl.newLocation.city">
  <input type="text" placeholder="state" ng-model="locationsCtrl.newLocation.state">

  <input type="submit" value="Add Location">

  <button ng-click="locationsCtrl.logout()">Log Out</button>
</form>

    <div class="locationsListContainer">
      <ul class="locations--list" ng-repeat="place in locationsCtrl.locations">
        <li class="title">{{ place.title }}</li>
        <li class="address">{{ place.address }}</li>
        <li class="city">{{ place.city }}</li>
        <li class="state">{{ place.state }}</li>
        <button ng-click="locationsCtrl.changeLocation(place)">Edit</button>
        <button ng-click="locationsCtrl.deleteLocation(place)">Delete</button>
        <li ng-if="place.editing">
          <form class="locations--list--edit" ng-submit="locationsCtrl.saveLocation(place)">
            <input type="text" placeholder='Name this location' ng-model="place.title">
            <input type="text" placeholder="street address" ng-model="place.address">
            <input type="text" placeholder="city" ng-model="place.city">
            <input type="text" placeholder="state" ng-model="place.state">
            <input type="submit" value="Edit Location">
          </form>
        </li>
      </ul>
    </div>
  </div>

  <!-- <div ng-if='' -->
  <div class="locations--map" ng-if="locationsCtrl.markers[0].coords">
    <ui-gmap-google-map  center='locationsCtrl.map.center' zoom='locationsCtrl.map.zoom'>

      <ui-gmap-markers models="locationsCtrl.markers" coords="'coords'" fit="true" click="onClick" options="'options'">
        <ui-gmap-windows show="show">
          <div class="infoWindow" ng-non-bindable>
            <ul class="locationInfo">
              <li>
                <h5>{{ name }}</h5></li>
              <li class="address">{{ address }}</li>
              <li><span class="city">{{ city }}</span>, <span class="state">{{ state }}</span></li>
            </ul>
            <ul class="locationWeather">
              <li><img class="weatherIcon" src="{{ image }}" alt="{{ condition }}"></li>
              <li>{{ temp | number:0 }}°</li>
              <li class="condition">{{ condition }}</li>
              <li>{{ time | date: 'short' }}</li>
            </ul>
          </div>
        </ui-gmap-windows>
      </ui-gmap-markers>


      <ui-gmap-marker ng-if="locationsCtrl.currentPosition" coords="locationsCtrl.currentPosition.coords" idKey="locationsCtrl.currentPosition.id" options="locationsCtrl.currentPosition.options">
        <ui-gmap-window>
          <div class="infoWindow">
            <span>{{ locationsCtrl.currentPosition.title }}</span>

            <ul class="locationWeather">
              <li><img class="weatherIcon" ng-src="{{ locationsCtrl.currentPosition.image }}" alt="{{ locationsCtrl.currentPosition.weather.weather[0].description }}"></li>
              <li>{{ locationsCtrl.currentPosition.weather.main.temp | number:0 }}°</li>
              <li class="condition">{{ locationsCtrl.currentPosition.weather.weather[0].description }}</li>
            </ul>

          </div>
        </ui-gmap-window>

      </ui-gmap-marker>

    </ui-gmap-google-map>
  </div>

</div>
