.locations {
  header {
    // height: 200px;
    padding-bottom: 15px;
    margin-bottom: 30px;
    border-bottom: 1px solid #aaa;
    .appTitle {
      width: 50%;
      display: inline-block;
      h1 {
        width: 20%;
      }
    }
    .userInfo {
      float: right;
      text-align: right;
      margin-top: 30px;
      li {
        padding: 0 0 10px;
        .logout {
          background: none;
          // padding: 3px 6px;
          &:hover {
            background: #d6d6d6;
            background-image: linear-gradient(to bottom, #d6d6d6, #868899);
          }
        }
      }
    }
  }

  // .addLocationForm {
  //   form {
  //     margin-top: 15px;
  //   }
  // }
  .locationsListContainer {
    border-top: 1px solid #aaa;
    margin-top: 30px;
    // display: none;
  }
  .locationsList {
    margin-top: 15px;
    border-bottom: 1px solid #aaa;
    .locationInfo {
      display: inline-block;
      float: left;
      margin-left: -40px;
    }
    .listButtons {
      text-align: right;
      margin: 30px auto;
      .listButton {
        margin-bottom: 15px;
      }
    }
  }
  .angular-google-map-container {
    height: 80vh;
    width: 100%;
    margin: 30px auto;
    border: 2px solid #666;
    border-radius: 5px;
  }
}
