.locations{
  header{
    height: 200px;
    .appTitle{
      width: 50%;
      display: inline-block;
      h1{
      width: 20%;
      }
      button{
        background: #b9bbd3;
        background-image: linear-gradient(to bottom, #868899, #272b33);
      }
    }

    .userInfo{
      float: right;
      text-align: right;
      margin-top: 30px;
      li{
        padding: 0 0 10px 0;
        .logout{
          background: none;
          // padding: 3px 6px;
          &:hover{
            background: #d6d6d6;
            background-image: linear-gradient(to bottom, #d6d6d6, #868899)
          }
        }
      }
    }
  }
.locationsListContainer{
  border-top: 1px solid #aaa;
  margin-top: 30px;
}
.locationsList{
  margin-top: 15px;
  border-bottom: 1px solid #aaa;
  // width: 100%;
  // float: left;
  .locationInfo{
    display: inline-block;
    float: left;
    margin-left: -40px;
    // width: 100%;
  }
  .listButtons{
    .listButton{
      margin-bottom: 15px;

    }

    // display: inline-block;
    text-align: right;
    margin: 30px auto;
  }

}

}
