.locations {
  header {
    padding-bottom: 15px;
    margin-bottom: 30px;
    border-bottom: 1px solid #aaa;
    .appTitle {
      width: 50%;
      display: inline-block;
      h1 {
        width: 20%;
      }
      .demoMode {
        @include grayButton;
      }
    }
    .userInfo {
      float: right;
      text-align: right;
      margin-top: 30px;
      li {
        padding: 0 0 10px;
        .logout {
          @include grayButton;
          // background: rgba(255, 255, 255, 0.1);
          // @media screen and(min-width: 768px){
          //   background: none;
          // }
        }
      }
    }
  }
  .addNew {
    @include greenButton;
    margin-bottom: 0;
  }
  .closeList,
  .viewAll {
    @include grayButton;
    margin-bottom: 0;
    float: right;
  }
  .addLocationForm {
    .fa-times{
      display: block;
      width: 80%;
      text-align: right;
      font-size: 2rem;
      margin: 0 auto 30px auto;
      padding-right: 15px;
      &:hover{
        cursor: pointer;
      }
      // position: absolute;
      // right: 5%;
    }
    form {
      text-align: center;
      margin-top: 15px;
      margin-bottom: 15px;
      input {
        width: 80%;
        margin-bottom: 15px;
      }
      input[type="submit"] {
        @include greenButton;
      }
    }
  }
  #locationsListContainer {
    border-top: 1px solid #aaa;
    margin-top: 30px;
  }
  .locationsList {
    margin-top: 15px;
    border-bottom: 1px solid #aaa;
    .locationInfo {
      display: inline-block;
      float: left;
      margin-top: 15px;
      margin-bottom: 15px;
    }
    .listButtons {
      text-align: right;
      margin: 30px auto;
      .listButton {
        @include grayButton;
        margin-bottom: 15px;
      }
    }
    .editForm {
      input {
        text-align: center;
        width: 80%;
        margin: 0 auto 15px 60px;
      }
      input[type="submit"] {
        @include grayButton;
      }
    }
  }
}
.locationsMap{
  border-top: 1px solid #aaa;
  margin-top: 30px;
  .demo{
    display: block;
    text-align:center;
    font-size: 24px;
    margin-top: 15px;
    margin-bottom: -15px;
    background: rgba(242, 236, 207, 0.3);
    border-radius: 5px;
  }
}
.angular-google-map-container {
  height: 70vh;
  width: 100%;
  margin: 30px auto;
  border: 2px solid #666;
  border-radius: 5px;
}

.gm-style-iw{
  div:first-child{
    width: 300px;
    padding-right: 30px;
  }

}
.infoWindow {
  overflow: auto;
  zoom: 1;
  .windowLocation {
    margin-top: 15px;
    width: 40%;
    float: left;
    li:first-child {
      font-weight: 700;
    }
    .state{
      white-space: nowrap;
    }
  }
  .locationWeather {
    width: 60%;
    float: right;
    padding-left: 15px;
    white-space: nowrap;

  }
  .currentWindow {
    text-align: center;
  }
}
