<div class="page">
  <div class="userContainer">
    <h1 class="appTitle">WEATHER WATCHER</h1>
    <span>New user registration</span>

    <form class="userForm" ng-submit="registerCtrl.register()">
      <input type="email" placeholder="email" ng-model="registerCtrl.newUser.email">
      <input type="password" placeholder="password" ng-model="registerCtrl.newUser.password">
      <!-- <input type="password" placeholder="confirm password" ng-model="registerCtrl.newUser.password2"> -->

      <input class="highlighted" type="submit" value="Create Account">

      <a ui-sref="login"><button>Existing User? Login Here!</button></a>
    </form>

  </div>
</div>
