<div class="page">
  <div class="userContainer">
    <h1 class="appTitle">WEATHER WATCHER</h1>
    <span>New user registration</span>

    <form class="userForm" ng-submit="registerCtrl.register()">
      <div class="form-group">
        <input class="form-control" type="email" placeholder="email" ng-model="registerCtrl.newUser.email">
        <span ng-if="registerCtrl.passwordFail">Passwords do not match. Try again!</span>
        <input class="form-control" type="password" placeholder="password" ng-model="registerCtrl.newUser.password">
        <input class="form-control" type="password" placeholder="confirm password" ng-model="registerCtrl.newUser.password2">
        <div class="loginButtons">
              <input class="prominent" type="submit" value="Create Account">
              <a ui-sref="login"><button class="gray">Existing User? Login Here!</button></a>
        </div>
      </div>
    </form>

  </div>
</div>
